/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/30dad4");*/

  
@font-face {
	font-family: 'FFDINWebProCondBold';
	src: url('../fonts/30DAD4_0_0.eot');
	src: url('../fonts/30DAD4_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/30DAD4_0_0.woff2') format('woff2'),
		 url('../fonts/30DAD4_0_0.woff') format('woff'),
		 url('../fonts/30DAD4_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 
  
@font-face {
	font-family: 'DIN2014-NarrowDemi';
	src: url('../fonts/30DAD4_1_0.eot');
	src: url('../fonts/30DAD4_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/30DAD4_1_0.woff2') format('woff2'),
		 url('../fonts/30DAD4_1_0.woff') format('woff'),
		 url('../fonts/30DAD4_1_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 
  
@font-face {
	font-family: 'DIN2014-Regular';
	src: url('../fonts/30DAD4_2_0.eot');
	src: url('../fonts/30DAD4_2_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/30DAD4_2_0.woff2') format('woff2'),
	url('../fonts/30DAD4_2_0.woff') format('woff'),
	url('../fonts/30DAD4_2_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 
  
@font-face {
	font-family: 'DIN2014-Demi';
	src: url('../fonts/30DAD4_3_0.eot');
	src: url('../fonts/30DAD4_3_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/30DAD4_3_0.woff2') format('woff2'),
		 url('../fonts/30DAD4_3_0.woff') format('woff'),
		 url('../fonts/30DAD4_3_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 